<div id="<%= dom_id pin %>">
  <p>
    <strong>Title:</strong>
    <%= pin.title %>
  </p>
  <%= pin.body %>
  <br/>
  <%= pin.image %>
  <%= pin.pictures.each do |picture| %>
   <%= picture %>
 <% end %>
</div>
