
	<nav class="navbar navbar-expand-sm shadow">
	  <div class="container-fluid">
	  <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<!-- Left elements -->
		  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="mx-auto container"> <%= link_to "MakeSensei", home_index_path, class: "navbar-brand mt-2 mt-lg-0" %> </li>
			<li class="nav-item">
			<%= link_to "Quests", home_index_path, class: "nav-link" %>
		  </li>
		  </ul>
		</div>
		<!-- Right elements -->
		<div class="d-flex align-items-center">
		  <!-- Avatar -->
		  <% if user_signed_in? %>
		  <div class="dropdown">
			<a
			  class="nav-link dropdown-toggle"
			  href="#"
			  id="navbarDropdownMenuAvatar"
			  role="button"
			  data-bs-toggle="dropdown"
			  aria-expanded="false"
			>
			  <img
				src="/assets/samuraipfp.PNG"
				class="rounded-circle outline"
				height="25"
				alt=<%= current_user.username %>
				loading="lazy"
			  />
			</a>
			<ul
			  class="dropdown-menu dropdown-menu-end border"
			  aria-labelledby="navbarDropdownMenuAvatar"
			>
			  <li>
				<%= link_to "My Profile", edit_user_registration_path, method: :delete, class: "dropdown-item" %>
			  </li>
			  <li>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
			  </li>
			</ul>
			<% else %>
			<li>
				<%= link_to "Create Account", new_user_registration_path, class: "dropdown-item" %>
				</li>
				<li>
				<%= link_to "Log In", new_user_session_path, class: "dropdown-item" %>
				</li>
	  		<% end %>
		  </div>
		</div>
		<!-- Right elements -->
	  </div>
	  </div>
	</nav>