<style>
.postlink {
transition: .5s ease;
}

.postlink:hover {
  font-size: 30px;

}

.post {
  transition: .5s ease;
}

.post:hover {
  transform: scale(1.01);
}
</style>


<div class="d-grid gap-3">

<div id="posts" class="p-2 bg-light d-grid gap-3">
  <div class="p-2 bg-light rounded-4">
  <h3 class="p-1 anarchyfont mobilecenter"> Messages</h3>
    <% if @posts.each do |post| %>
      <div class="p-3 shadow rounded-4 post border">
      <%= render post %>
        <%= button_to "Delete", post, method: :delete, class: "btn btn-outline-danger btn-sm float-end mobileomit" %>
        <%= link_to "Comments", post, class: "btn btn-outline-secondary btn-sm float-end mobileomit" %>  
        <%= button_to "×", post, method: :delete, class: "btn btn-outline-danger btn-sm float-end mobileshow" %>
        <%= link_to "💬", post, class: "btn btn-outline-secondary btn-sm float-end mobileshow" %>  
        <br/>
      </div>
        <br/>
      <% end.empty? %>
      <p> It's all quiet on the western front... </p>
      <% end %>
        <%= link_to "New message", new_post_path, class: "btn btn-primary text-center" %>

  </div>
</div>
</div>
<h1 class="ungodly">Why is your screen so small you ungodly heathen</h1>